
html, body {height:100%;}
#body_container {padding:0px;margin:0px;background-color:#FFFFFF;}
.submenu, .submenu_sel, .subred {height:100px;background-color:#004774;color:#ECF0F1;cursor:pointer;margin-left:25px;margin-top:5px;line-height:100px;vertical-align:middle;border:solid 5px #105784;}
.submenu_sel {background-color:#B6FDF1;color:#000000;border-color:#B6FDF1;}
.submenu:hover {background-color:#B6CDF1;color:#000000;border-color:#96ADD1;}
#menu {float:left;width:10%;background-color:#A4B7D6;text-align:center;height:90%;}
#header {width:100%;background-color:#102F5F;text-align:center;height:100px;height:10%;float:left;color:#FFFFFF;min-height:100px;line-height:100px;vertical-align:middle;}
#contents_wrapper {float:left;width:88%;background-color:#FFFFFF;clear:right;height:86%;padding:1%;}
#contents {width:100%;height:100%;overflow:auto;min-height:750px;min-width:750px;}
a {color:#129;text-decoration: none;}

.resultSet {list-style-type: none;margin-left:5px;}
.resultSet > li {padding:10px;background-color:#fff;cursor:pointer;}
.resultSet > li:nth-child(odd) {background-color:#fff;}
.resultSet > li:nth-child(even) {background-color:#eef;}
.resultSet > li:hover {background-color:#efe;border:1px dashed #921;}
